<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502345433586-u65l7cnotsn7u23tc1fbuml23hnrffjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502345433586-u65l7cnotsn7u23tc1fbuml23hnrffjn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>502345433586-2o6c51ji1ajd2h5o1p4a1q8th3bfksro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHaJJRCMZ402sw1pGKFBmkQiTGDQSh-SI</string>
	<key>GCM_SENDER_ID</key>
	<string>502345433586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.luluBaby</string>
	<key>PROJECT_ID</key>
	<string>lulu-baby</string>
	<key>STORAGE_BUCKET</key>
	<string>lulu-baby.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502345433586:ios:9754cdba56d3ea51256b6b</string>
	<key>DATABASE_URL</key>
	<string>https://lulu-baby.firebaseio.com</string>
</dict>
</plist>